<%- include("partials/header"); -%>

<h1>Home</h1>
<p><%= text %></p>

<%posts.forEach(function(content){ %>
   
    <h1><%= content.Contentname %></h1>
    <p><%= content.Content.substring(0,100) + "..." %> <a href="/<%=content._id%>">Read more</a></p>
<%});%>


<%- include("partials/footer"); -%>